:root {
  --first-color: #000;
  --sec-color: #ffffff;
  --text-book: var(--first-color);
  --font-size: 20px;
  --bg-color-book: var(--sec-color);
  --bg-color-menu: #1976d2;
  --book-padding: 20px;
}

.MuiImageList-root::-webkit-scrollbar,
.scrollbar::-webkit-scrollbar {
  height: 10px;
}

.MuiImageList-root::-webkit-scrollbar-thumb,
.scrollbar::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.MuiImageList-root::-webkit-scrollbar-track,
.scrollbar::-webkit-scrollbar-track {
  background: #ffffff88;
}
