@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --first-color: #000;
  --sec-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --first-color: #ffffff;
    --sec-color: #000;
  }
}

body {
  color: var(--first-color);
  background-color: var(--sec-color);
}
