@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --first-color: #000;
  --sec-color: #ffffff;
  --text-book: var(--first-color);
  --font-size: 20px;
  --bg-color-book: var(--sec-color);
  --bg-color-menu: #1976d2;
  --book-padding: 20px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --first-color: #ffffff;
    --sec-color: #000;
  }
}

body {
  color: var(--first-color);
  background-color: var(--sec-color);
}
